{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <!--
    <form action="" method="post" class="pure-form">
      <label for="course">Course</label>
        <select id="course">
          <option>2230</option>
          <option>2240</option>
        </select>
      <label for="assignment">Assignment</label>
      <input type="text" id="assignment" ></input>
      <input class="pure-button" type="submit" value="Create">
    </form>
  -->

    <!-- repositories -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Courses</h4>
      </div>

      {% for course, attr in repos.iteritems() %}
        <div class="panel-heading">
          <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse-{{course}}">{{ course }}</a>
          </h5>
        </div>
        <div id="collapse-{{course}}" class="panel-collapse collapse">
          
          <!-- Assignments -->
         <div class="assignment-container container-fluid">
            <div class="row">
            {% for assignment in attr.assignments  %}
              <div class="col-xs-1 assignment">{{ assignment }}</div>
            {% endfor %}
            </div>
          </div>

          <!-- Students -->
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" href="#collapse-{{ course }}-students">Students</a>
            </h6>
          </div>
          <div id="collapse-{{ course }}-students" class="panel-collapse collapse">
            <ul class="list-group">
            {% for student in attr.students %}
              <li class="list-group-item borderless">{{ student.replace('.', ' ').title() }}</li>
            {% else %}
              <li class="list-group-item borderless">None</li>
            {% endfor %}
            </ul>
          </div>

        </div>
      {% endfor %}

    </div>

    <!-- display bakups -->
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse-arch">Archives</a>
          </h4>
        </div>
        <div id="collapse-arch" class="panel-collapse collapse">
          <ul class="list-group">
          {% for ts, component in bakups.iteritems() %}
            <li class="list-group-item">{{ ts }}</li>
          {% endfor %}
          </ul>
          <!-- <div class="panel-footer">Footer</div> -->
        </div>
      </div>
    </div>

  {% else %}
    <h4>You must be logged in to use this app</br>Please log in</h4>
  {% endif %}
{% endblock %}
